.App {
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}

.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007bff;
  height: 40px;
  width: 40px;
  text-decoration: none;
  cursor: pointer;
  
}

.pagination-container a.display_none {
  display: none;
}
.pagination-container a.active {
  color: black;
}

